.hide{   
    display: block;
    animation: fadeOut 1s;
}
.show{
    margin:10px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 87, 87);
    color: white;
    border-radius: 6px ;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes fadeOut{

    0% { opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 0;}

}