body {
  margin: 0;
  font-family: monopoly;
  font-size: 38px;
}
a:visited{
  color: black;
}
a:link {
  color: black;
}

@font-face {
  font-family: monopoly;
  src: url(../src/componente/fonts/MONOPOLY_INLINE.ttf);
}

